@font-face {
    font-family: "bauhaus";
    src: url("../fonts/bauhaus/BauhausBold.woff") format("truetype");}

@font-face {
    font-family: "lato";
    src: url("../fonts/lato/Lato-Regular.woff") format("truetype");}


#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
    max-width: 100%;
}

head {
    width: 100%;
}
body { 
width: 99%;}

p {
    font-family: lato;
    font-size: 1vw;
    margin-top: 2%;
    color: white;
    cursor: pointer;
      z-index: 1;
    text-align: center;
    display: inline-flex;
}

#astrid {
    height: 87%;
    width: auto;
    position: absolute;
    left: 55%;
    top: 12%;
}


#logo {
    position: fixed;
    width: 6.5%;
    padding: 0.3%;
    left: 2%;
}


.titoli {
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 6%;
    top: 12%;
}
h1 {
    font-family: bauhaus;
    font-size: 2vw;
}
h2 {
    font-family: bauhaus;
    font-size: 1.2vw;
    margin-top: -10%;
}
h3 {
       font-family: bauhaus;
    font-size: 1vw;
    color: #fff;
    position: fixed;
    margin-left: 2.4%;
    margin-top: -1.3%;
    letter-spacing: 1px;
    
    
}

.rectangle {
    position: absolute;
    background-color: transparent;
    border: 2px solid #fff;
    margin-left: 22.9%;
    margin-top: 9%;
    padding-bottom: 33.5%;
}

.coins {
    position: fixed;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    top: 11%;
    left: 65%;  
    height: 3.5%;
    width: 7%;
}

#moneta {
    margin-top: -4px;

}



/* SOUND */

#track {
    visibility: hidden;
}

#soundon {
    position: absolute;
  background-image: url(../img/soundon.png);
  background-size: cover;
 width: 3vw;
  height: 3vw;
  cursor: pointer;
    top: 35%;
    left: 15%;
}

#soundoff {
    position: absolute;
  background-image: url(../img/soundoff.png);
     background-size: cover;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
   top: 35%;
    left: 15%;
}


.volume-slider {
    position: absolute;
     height:2%;
  width:10%;
    top: 45%;
    left: 10.8%;
     position:relative;
    transform: rotate(270deg);
    border-radius: 5px;
}



/* SLIDER */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
     background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, transparent 50%, transparent 100%);
     outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
    
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 3px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 16px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
    border: 1px solid #505050;
}




/* NAV BAR */

.icons {
    position: fixed;
     display: inline-block;
    left: 85%;
    width: 9%;
    height: 5%;
    
}

#msg {
    padding: 5% 8%;
        max-width: 14%;
  height: auto;
}
#bell {
    padding: 5% 8%;
    max-width: 14%;
  height: auto;
}
#profile {
    padding: 5% 8%;
        max-width: 14%;
  height: auto;
}


.topnav {
    font-family: bauhaus;
    width: 40%;
    height: 5%;
  overflow: hidden;
    position: fixed;
    left: 30%;
     z-index: 1;
    display: inline-flex;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 4%;
    padding-top: 0.5em;
  text-decoration: none;
  font-size: 1vw;
}

.topnav a:hover {
  color: black;
}




/* EPISODIO */


.episodio {
    position: absolute;
}

#one {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#two {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#three {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;

}

#four {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#five {
 display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#six {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#seven {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#eight {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#nine {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#ten {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#eleven {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twelve {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirteen {
 display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#fourteen {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#fifteen {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#sixteen {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#seventeen {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#eighteen {
 display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#nineteen {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twenty {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentyone {
 display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentytwo {
 display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentythree {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentyfour {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentyfive {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentysix {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentyseven {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentyeight {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#twentynine {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirty {
  display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtyone {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtytwo {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtythree {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtyfour {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtyfive {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtysix {
   display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}

#thirtyseven {
    display: none;
    margin-left: 23%;
    margin-top: 9%;
    width: 52.5%;
    height: auto;
}



/* TESTI */

.testi {
    position: absolute;
    margin-top: -4.5%; 
    margin-left: 25%;
    width: 48%;
    height: 7%;
    text-align: center;
}

#text1 {position: relative;}
#text2 {display: none; position: relative}
#text3 {display: none; position: relative}
#text4 {display: none; position: relative}
#text5 {display: none; position: relative}
#text6 {display: none; position: relative}
#text7 {display: none; position: relative}
#text8 {display: none; position: relative}
#text9 {display: none; position: relative}
#text10 {display: none; position: relative}
#text11 {display: none; position: relative}
#text12 {display: none; position: relative}
#text13 {display: none; position: relative}
#text14 {display: none; position: relative}
#text15 {display: none; position: relative; margin-top: 8px}
#text16 {display: none; position: relative}
#text17 {display: none; position: relative}
#text18 {display: none; position: relative}
#text19 {display: none; position: relative;  margin-top: 8px}
#text20 {display: none; position: relative}
#text21 {display: none; position: relative}
#text22 {display: none; position: relative}
#text23 {display: none; position: relative;  margin-top: 8px}
#text24 {display: none; position: relative}
#text25 {display: none; position: relative}
#text26 {display: none; position: relative;  margin-top: 8px}
#text27 {display: none; position: relative;  margin-top: 8px}
#text28 {display: none; position: relative}
#text29 {display: none; position: relative;  margin-top: 8px}
#text30 {display: none; position: relative}
#text31 {display: none; position: relative;  margin-top: 5px; line-height: 1.5}
#text32 {display: none; position: relative}
#text33 {display: none; position: relative}
#text34 {display: none; position: relative}
#text35 {display: none; position: relative}
#text36 {display: none; position: relative}
#text37 {display: none; position: relative}





/* RESPONSIVE */


/*TELEFONI*/
@media only screen and (max-width: 480px) {
   #bg {
  object-fit: cover;
        object-position:left}  
        
    #logo {
    position: fixed;
    width: 22.5%;
    padding: 0.3%;
    left: 38.5%;
        top: 1.6%;
}
        
        .icons {
            display: none;
        }
        
        .topnav {
             content:url(../img/icons/menu.png);
                 width: 4vw;
                height: auto;
            left: 90%;
            top: 1.5%;
        }
        
        .episodio {
            transform: scale(1.47);
            top: 10%;
        }
        .rectangle {
            transform: scale(1.45);
            top: 10.6%;
            left: 0%;
        }
        
        #astrid {
            height: 45%;
            width: auto;
            top: 45%;
            left: 17%;
        }
        
        .titoli {
            top: 60%;
            left: 27%;
            transform: scale(2)
        }
        
        .coins {
            left: 25%;
            top: 66%;
            width: 15%;
            height: 2%
        }
        
        h3 {
            transform: scale(2);
            top: 67.5%;
            left: 30%;
        }
        
        

#soundon {
 width: 7vw;
  height: 7vw;
    top: 55%;
    left: 53%;
}

#soundoff {
    width: 7vw;
  height: 7vw;
    top: 55%;
    left: 53%;
}


.volume-slider {
   width: 30vw;
  height: 1vw;
    top: 62%;
    left: 38%;
}

        
}

/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
        
     #bg {
  object-fit: cover;
        object-position:left}  
        
    #logo {
    position: fixed;
    width: 16.5%;
    padding: 0.3%;
    left: 42%;
}
        
        .icons {
            display: none;
        }
        
        .topnav {
             content:url(../img/icons/menu.png);
                 width: 4vw;
                height: auto;
            left: 90%;
            top: 1.5%;
        }
        
        .episodio {
            transform: scale(1.5);
            top: 10%;
        }
        .rectangle {
            transform: scale(1.49);
            top: 11.3%;
            left: 0%;
        }
        
        #astrid {
            height: 42%;
            width: auto;
            top: 55%;
            left: 38%;
        }
        
        .titoli {
            top: 60%;
            left: 27%;
            transform: scale(2)
        }
        
        .coins {
            left: 25%;
            top: 68%;
            width: 15%;
            height: 3%
        }
        
        h3 {
            transform: scale(2);
            top: 70.5%;
            left: 30%;
        }
        
        

#soundon {
 width: 5vw;
  height: 5vw;
    top: 60%;
    left: 60%;
}

#soundoff {
    width: 5vw;
  height: 5vw;
    top: 60%;
    left: 60%;
}


.volume-slider {
   width: 20vw;
  height: 3vw;
    top: 67%;
    left: 52%;
}

        
}
    
/*PC PICCOLI*/
@media only screen and (min-width: 1025px) and (max-width: 1500px) {
        
}
    
/*PC GRANDI*/

@media only screen and (min-width: 1700px) {
    
    .volume-slider {
    left: 11.2%;
}

    h3 {
    margin-top: -1.5%;
}
}
